<%= image_tag("splash-book.png", :class => "book-container")%>

<div class="home-sign-in">
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <span id="upper-field"><%= f.text_field :email %></span>
    <span id="middle-field"><%= f.password_field :password %></span>
    <div class="click-ons">
      <%= f.check_box :remember_me, :id => "lower-field1" %>
      <%= f.label :remember_me, :id => "lower-field2"%>
      <%= f.submit 'Sign in' , :id => "lower-field3"%>
      <span id="bottom-field"><%= link_to "Forgot your password?", new_password_path(:user) %></span>
    </div>
  <% end %>
</div>
